<!DOCTYPE html>
<html>
	<head>
		<title>南京大学自然语言处理平台</title>	
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css"  href="{{ static_url("bootstrap/css/bootstrap.css") }}" >
		<script src="http://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="{{ static_url("bootstrap/js/bootstrap.js") }}"></script>
		<script>
			$(".dropdown-toggle").dropdown()
		</script>
	</head>>

	<div class="hero-unit">
		<h1 class="text-center">欢迎使用</h1>
		<p class="text-error">
		南京大学自然语言处理平台,正在建设中...
		</p>
		<!-- Button to trigger modal -->
		<a href="#myModal" role="button" class="btn btn-info" data-toggle="modal">了解更多</a>

		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
				<h3 id="myModalLabel">南京大学自然语言处理平台</h3>
			</div>
			<div class="modal-body">
				<p class="text-error">南京大学自然语言平台包括机器翻译，语法分析，分词等功能</p>
			</div>

			<div class="modal-footer">
				
				<button class="btn btn-primary">确定</button>
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>

	<body>
		<center>
			<form class="form-horizontal" method="get" action="/">
				<div class="control-group">
					<div class="controls">
						<textarea class="filed span7" rows="6" id="textarea" name="inputText" placeholder="type something..."></textarea>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<textarea class="filed span7" rows="6" id="textarea">{{ output }}</textarea>
					</div>
				</div>

				<div class="controls">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</center>
	</body>

</html>

