<!DOCTYPE html>
<html>
	<head>
		<title>南京大学自然语言处理平台</title>	
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css"  href="{{ static_url("bootstrap/css/bootstrap.css") }}" >
		<script src="http://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="{{ static_url("bootstrap/js/bootstrap.js") }}"></script>
		<script>
			$(".dropdown-toggle").dropdown()
		</script>
	</head>

	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://nlp.nju.edu.cn/">南京大学自然语言处理组</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="/">首页</a>
              </li>
              <li class="" >
                <a href="./FAQ.html" class="bootstro" data-bootstro-title="这里介绍了从零开始使用Bootstrap的基本步骤。教你创建一个最简单的Bootstrap页面。"
           data-bootstro-placement="bottom"  data-bootstro-step="0">FAQ</a>
              </li>
              <li class="">
                <a href="./help.html" class="bootstro" data-bootstro-title="这里详细介绍了Bootstrap的栅格系统。对于栅格系统的理论知识，最好动手谷歌一下！"
           data-bootstro-placement="bottom"  data-bootstro-step="1">Help</a>
              </li>
              <li class="">
                <a href="./about.html">关于</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	<div class="hero-unit">
		<h1 class="text-center">欢迎使用</h1>
		<p class="text-error">
		南京大学自然语言处理平台,正在建设中...
		</p>
		<!-- Button to trigger modal -->
		<a href="#myModal" role="button" class="btn btn-info" data-toggle="modal">了解更多</a>

		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
				<h3 id="myModalLabel">南京大学自然语言处理平台</h3>
			</div>
			<div class="modal-body">
				<p class="text-error">南京大学自然语言平台包括机器翻译，语法分析，分词等功能</p>
			</div>

			<div class="modal-footer">
				
				<button class="btn btn-primary">确定</button>
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>

	<body>
		<center>
			<form class="form-horizontal" method="GET" action="/">
				<div class="control-group info">
					<div class="controls">
						<textarea class="filed span12" rows="8" id="textarea" name="inputText" placeholder="type something..."></textarea>
					</div>
				</div>
				<div class="control-group success">
					<div class="controls">
						<textarea class="filed span12" rows="8" id="textarea">{{ output }}</textarea>
					</div>
				</div>

				<div class="controls">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</center>
	</body>

</html>

